.modal:where(.astro-dshnyhuw) {
  --animation-buffer-time: 1s;
  pointer-events: none;
  isolation: isolate;
  position: fixed;
  z-index: 20;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: 0s var(--animation-buffer-time);
}
html:has(.modal.modal--is-open) {
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
}
.modal--is-open:where(.astro-dshnyhuw) {
  pointer-events: auto;
  visibility: visible;
  transition: 0s 0s;
}
.modal__bg:where(.astro-dshnyhuw) {
  cursor: pointer;
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #00000080;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}
.modal--style-subtle:where(.astro-dshnyhuw) .modal__bg:where(.astro-dshnyhuw) {
  background-color: #000000b3;
}
.modal--is-open:where(.astro-dshnyhuw) .modal__bg:where(.astro-dshnyhuw) {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.tab-content:where(.astro-4oikvcqk) {
  overflow-x: hidden;
  display: flex;
  height: 100%;
}
.tab-content__inner:where(.astro-4oikvcqk) {
  translate: var(--distance, 0) 0;
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  transition: translate 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.tab-control:where(.astro-ao2nhkea) {
  --tab-control-padding-x: 24px;
  --tab-control-padding-y: 16px;
}
@media (min-width: 768px) {
  .tab-control:where(.astro-ao2nhkea) {
    --tab-control-padding-x: 40px;
  }
}
.tab-control:where(.astro-ao2nhkea) {
  overflow: hidden;
  display: flex;
  margin: calc(var(--tab-control-padding-y) * -1)
    calc(var(--tab-control-padding-x) * -1);
}
.tab-panel:where(.astro-vfrivgtk) {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.tab-switch:where(.astro-gmkrf47m) {
  display: flex;
  align-items: center;
}
.tab-switch:where(.astro-gmkrf47m):not(:first-of-type):before {
  content: "";
  width: 1px;
  height: 1.5em;
  text-align: center;
  opacity: 0.2;
  background: currentcolor;
}
.tab-switch__container:where(.astro-gmkrf47m) {
  padding: var(--tab-control-padding-y) var(--tab-control-padding-x);
}
.tab-switch__text:where(.astro-gmkrf47m) {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.tab-switch__text:where(.astro-gmkrf47m):before {
  pointer-events: none;
  content: "";
  position: absolute;
  bottom: -8px;
  translate: 0 0.5rem;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: currentcolor;
  transition:
    opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    translate 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.tab-switch--active:where(.astro-gmkrf47m)
  .tab-switch__text:where(.astro-gmkrf47m) {
  opacity: 1;
}
.tab-switch--active:where(.astro-gmkrf47m)
  .tab-switch__text:where(.astro-gmkrf47m):before {
  translate: 0 0;
  opacity: 1;
}
.accordion:where(.astro-6ssfw5kf) {
  width: 100%;
}
.accordion-item:where(.astro-znzmc3bl) {
  text-align: left;
  border-block-start: 1px solid rgb(32 32 32 / 0.2);
}
.accordion-item:where(.astro-znzmc3bl):last-of-type {
  border-block-end: 1px solid rgb(32 32 32 / 0.2);
}
.accordion-item__header:where(.astro-znzmc3bl) {
  touch-action: manipulation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 24px;
  padding-inline: 8px;
  text-align: left;
}
.accordion-item__icon:where(.astro-znzmc3bl) {
  transform-origin: center;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-item--open:where(.astro-znzmc3bl)
  .accordion-item__icon:where(.astro-znzmc3bl) {
  transform: rotate(180deg);
}
.input-range-ruler:where(.astro-edaaimjr) {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.input-range-ruler__item:where(.astro-edaaimjr) {
  width: 1px;
  height: 100%;
  background-color: #202020;
}
.input-range-ruler__item--small:where(.astro-edaaimjr) {
  height: 50%;
}
@media (max-width: 767px) {
  .input-range-ruler__item:where(.astro-edaaimjr):nth-child(odd) {
    opacity: 0;
  }
}
.input-range:where(.astro-msxcthms) {
  --range-height: 8px;
  --range-ruler-height: calc(var(--range-height) * 2);
  --range-ruler-mask: calc(var(--range-height) * 3);
  --min-thumb: 0%;
  --max-thumb: 0%;
  --min-percentage: calc(var(--min-thumb) * 1%);
  --max-percentage: calc(var(--max-thumb) * 1%);
  --thumb-width: 24;
  --thumb-width-px: calc(var(--thumb-width) * 1px);
  --thumb-half-width: calc(var(--thumb-width) / 2);
  --thumb-width-fraction: calc(var(--thumb-width) / 100);
  --minval: calc(
    var(--min-percentage) +
      (
        (
            var(--thumb-half-width) - var(--min-thumb) *
              var(--thumb-width-fraction)
          ) *
          1px
      )
  );
  --maxval: calc(
    var(--max-percentage) +
      (
        (
            var(--thumb-half-width) - var(--max-thumb) *
              var(--thumb-width-fraction)
          ) *
          1px
      )
  );
  isolation: isolate;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .input-range:where(.astro-msxcthms) {
    flex-wrap: nowrap;
  }
}
.input-range__field:where(.astro-msxcthms) {
  --text-box-width: 144px;
  --text-box-height: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 8px;
  width: 100%;
}
@media (min-width: 375px) {
  .input-range__field:where(.astro-msxcthms) {
    width: calc(50% - 8px);
  }
}
@media (min-width: 768px) {
  .input-range__field:where(.astro-msxcthms) {
    width: 100%;
    max-width: var(--text-box-width);
  }
}
.input-range__number:where(.astro-msxcthms) {
  width: 100%;
  height: var(--text-box-height);
  padding: 24px;
  border: 1px solid rgb(32 32 32 / 0.2);
  border-radius: 2px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-range__number:where(.astro-msxcthms):hover {
  background-color: #f5b800;
}
.input-range__slider:where(.astro-msxcthms) {
  --slider-padding-start: 50px;
  --slider-padding-end: 120px;
  --slider-padding-inline: 5.5vw;
  isolation: isolate;
  position: relative;
  width: 100%;
  height: var(--range-height);
  margin-block: var(--slider-padding-start) var(--slider-padding-end);
  margin-inline: var(--slider-padding-inline);
}
@media (max-width: 1023px) {
  .input-range__slider:where(.astro-msxcthms) {
    order: -1;
  }
}
.input-range__range:where(.astro-msxcthms) {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
.input-range__range:where(.astro-msxcthms)::-webkit-slider-thumb {
  pointer-events: auto;
  cursor: ew-resize;
  width: var(--thumb-width-px);
  height: 24px;
  -webkit-appearance: none;
  appearance: none;
  background-color: currentcolor;
  border: none;
  border-radius: 2px;
  box-shadow: none;
}
.input-range__range:where(.astro-msxcthms)::-moz-range-thumb {
  pointer-events: auto;
  cursor: ew-resize;
  width: var(--thumb-width-px);
  height: 24px;
  -moz-appearance: none;
  appearance: none;
  background-color: currentcolor;
  border: none;
  border-radius: 2px;
  box-shadow: none;
}
.input-range__controls:where(.astro-msxcthms) {
  height: 100%;
}
.input-range__bg:where(.astro-msxcthms) {
  position: absolute;
  inset: 0 calc(var(--thumb-width-px) / 2);
  background-color: #202020;
}
.input-range__ruler:where(.astro-msxcthms) {
  position: absolute;
  bottom: 100%;
  height: var(--range-ruler-height);
}
.input-range__ruler-mask:where(.astro-msxcthms) {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: var(--range-ruler-mask);
  opacity: 0.8;
  background-color: #A88955;
}
.input-range__ruler-mask--min:where(.astro-msxcthms) {
  left: 0;
  width: calc(var(--min-percentage) - 0.5px);
}
.input-range__ruler-mask--max:where(.astro-msxcthms) {
  right: 0;
  width: calc(var(--max-percentage) - 0.5px);
}
.input-range__bubble:where(.astro-msxcthms) {
  --triangle-size-unit: 18;
  --triangle-size-px: calc(var(--triangle-size-unit) * 1px);
  position: absolute;
  top: calc(100% + var(--triangle-size-px) + 8px);
  display: flex;
  height: auto;
  padding-block: 8px;
  padding-inline: 16px;
  color: #fff;
  background-color: #202020;
  border-radius: 2px;
}
.input-range__bubble:where(.astro-msxcthms):before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: calc(100% - (var(--triangle-size-px) / 2));
  left: calc(50% - (var(--triangle-size-px) / 2));
  transform: scaleX(
      calc((var(--triangle-size-unit) - 8) / var(--triangle-size-unit))
    )
    rotate(-45deg);
  width: var(--triangle-size-px);
  height: var(--triangle-size-px);
  background-color: #202020;
  clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
  border-top-right-radius: 2px;
}
.input-range__bubble--min:where(.astro-msxcthms) {
  left: var(--minval);
  translate: -50% 0 0;
}
.input-range__bubble--max:where(.astro-msxcthms) {
  right: var(--maxval);
  translate: 50% 0 0;
}
.input-range__value-suffix:where(.astro-msxcthms) {
  position: absolute;
  right: 16px;
  bottom: 0;
  font-size: 1.25rem;
  line-height: var(--text-box-height);
}
.filter-price:where(.astro-t2j3ibor) {
  padding-block: 8px;
  padding-inline: 8px;
}
@media (min-width: 768px) {
  .filter-price:where(.astro-t2j3ibor) {
    padding-inline: 0;
  }
}
.filter-price__range:where(.astro-t2j3ibor) {
  padding-block-start: 24px;
}
@media (min-width: 768px) {
  .filter-price__range:where(.astro-t2j3ibor) {
    padding-block-start: 56px;
  }
}
.filter-price__header:where(.astro-t2j3ibor) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
@media (max-width: 767px) {
  .filter-price__header:where(.astro-t2j3ibor) {
    justify-content: space-between;
    width: 100%;
  }
  .filter-price__list:where(.astro-t2j3ibor) {
    margin-right: -16px;
  }
}
.filter-price__header-text:where(.astro-t2j3ibor) {
  margin-right: 12px;
}
.filter-price__list-item:where(.astro-t2j3ibor) {
  display: inline-block;
}
.filter-price__list-item:where(.astro-t2j3ibor)
  .filter-price__list-button:where(.astro-t2j3ibor) {
  border-left: 1px solid rgb(32 32 32 / 0.2);
}
.filter-price__list-item:where(.astro-t2j3ibor):first-child
  .filter-price__list-button:where(.astro-t2j3ibor) {
  border-left: none;
}
.filter-price__list-button:where(.astro-t2j3ibor) {
  padding: 3px 24px;
  opacity: 0.3;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .filter-price__list-button:where(.astro-t2j3ibor) {
    padding: 3px 12px;
  }
}
.filter-price__list-button:where(.astro-t2j3ibor):hover {
  opacity: 1;
}
.filter-price__list-button--active:where(.astro-t2j3ibor) {
  opacity: 1;
}
.input-checkbox-radio:where(.astro-uogrvcfc) {
  position: relative;
}
.input-checkbox-radio__input:where(.astro-uogrvcfc) {
  position: absolute;
  opacity: 0;
}
.input-checkbox-radio__label:where(.astro-uogrvcfc) {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-block: 48px;
  padding-inline: 32px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  transition:
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox-radio__label:where(.astro-uogrvcfc):hover {
  background-color: #f5b800;
}
@media (max-width: 767px) {
  .input-checkbox-radio__label:where(.astro-uogrvcfc) {
    border-color: #20202033;
  }
  .input-checkbox-radio__input:where(.astro-uogrvcfc):focus
    + .input-checkbox-radio__label:where(.astro-uogrvcfc) {
    background-color: #f5b800;
  }
}
.input-checkbox-radio__input:where(.astro-uogrvcfc):checked
  + .input-checkbox-radio__label:where(.astro-uogrvcfc) {
  background-color: #f5b800;
  border-color: #20202033;
}
.input-counter:where(.astro-tcx72llg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767px) {
  .input-counter:where(.astro-tcx72llg) {
    padding-inline: 8px;
  }
}
.input-counter__fieldset:where(.astro-tcx72llg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .input-counter__fieldset:where(.astro-tcx72llg) {
    margin-inline: -8px;
  }
}
.input-counter__button:where(.astro-tcx72llg) {
  margin-block: -16px;
  padding: 16px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-counter__button:where(.astro-tcx72llg):hover:not(:active, [disabled]) {
  opacity: 0.5;
}
.input-counter__button:where(.astro-tcx72llg):disabled {
  opacity: 0.2;
}
.input-counter__count:where(.astro-tcx72llg) {
  flex-shrink: 0;
  min-width: 80px;
  text-align: center;
}
@media (min-width: 768px) {
  .input-counter__count:where(.astro-tcx72llg) {
    min-width: 96px;
  }
}
.filter-size:where(.astro-dj6bpijw) {
  padding-block: 8px;
}
@media (min-width: 768px) {
  .filter-size:where(.astro-dj6bpijw) {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .filter-size:where(.astro-dj6bpijw) .filter__header:where(.astro-dj6bpijw) {
    padding-inline: 8px;
  }
}
.filter-size__scroll:where(.astro-dj6bpijw) {
  --filter-gutter: calc(var(--yco-outer-gutter) + 8px);
  overflow-y: auto;
  display: flex;
  gap: 16px;
  margin-inline: calc(var(--filter-gutter) * -1);
  padding-block-end: 32px;
  padding-inline: 40px;
}
@media (min-width: 768px) {
  .filter-size__scroll:where(.astro-dj6bpijw) {
    padding-block-end: 48px;
    margin-inline: 0;
    padding-inline: 0;
  }
}
.filter-size__counters:where(.astro-dj6bpijw) {
  border-block-start: solid 1px rgb(32 32 32 / 0.2);
}
@media (min-width: 1024px) {
  .filter-size__counters:where(.astro-dj6bpijw) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-block-end: solid 1px rgb(32 32 32 / 0.2);
  }
}
.filter-size__counter:where(.astro-dj6bpijw) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
}
@media (max-width: 1023px) {
  .filter-size__counter:where(.astro-dj6bpijw) {
    border-block-end: solid 1px rgb(32 32 32 / 0.2);
  }
}
@media (min-width: 768px) {
  .filter-size__counter:where(.astro-dj6bpijw) {
    padding-block: 48px;
  }
}
@media (min-width: 1024px) {
  .filter-size__counter:where(.astro-dj6bpijw):first-of-type {
    padding-inline-end: 48px;
    border-inline-end: solid 1px rgb(32 32 32 / 0.2);
  }
  .filter-size__counter:where(.astro-dj6bpijw):last-of-type {
    padding-inline-start: 48px;
  }
}
.filter-size__option:where(.astro-dj6bpijw) {
  flex-grow: 1;
  flex-shrink: 0;
}
.filter-size__header:where(.astro-dj6bpijw) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
@media (max-width: 767px) {
  .filter-size__header:where(.astro-dj6bpijw) {
    justify-content: space-between;
    width: 100%;
  }
  .filter-size__list:where(.astro-dj6bpijw) {
    margin-right: -16px;
  }
}
.filter-size__header-text:where(.astro-dj6bpijw) {
  margin-right: 12px;
}
.filter-size__list-item:where(.astro-dj6bpijw) {
  display: inline-block;
}
.filter-size__list-item:where(.astro-dj6bpijw):first-child
  .filter-size__list-button:where(.astro-dj6bpijw) {
  border-right: 1px solid rgb(32 32 32 / 0.2);
}
.filter-size__list-button:where(.astro-dj6bpijw) {
  padding: 3px 24px;
  opacity: 0.3;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .filter-size__list-button:where(.astro-dj6bpijw) {
    padding: 3px 12px;
  }
}
.filter-size__list-button:where(.astro-dj6bpijw):hover {
  opacity: 1;
}
.filter-size__list-button--active:where(.astro-dj6bpijw) {
  opacity: 1;
}
.input-checkbox:where(.astro-3qxy3jrb) {
  position: relative;
}
.input-checkbox__input:where(.astro-3qxy3jrb) {
  position: absolute;
  opacity: 0;
}
.input-checkbox__label:where(.astro-3qxy3jrb) {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 1px solid rgb(32 32 32 / 0.2);
  border-radius: 2px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox__label:where(.astro-3qxy3jrb):hover,
.input-checkbox__input:where(.astro-3qxy3jrb):focus
  + .input-checkbox__label:where(.astro-3qxy3jrb) {
  background-color: #f5b800;
}
@media (min-width: 768px) {
  .input-checkbox__label:where(.astro-3qxy3jrb) {
    padding-block: 8px;
    padding-inline: 16px;
  }
  .input-checkbox--medium:where(.astro-3qxy3jrb)
    .input-checkbox__label:where(.astro-3qxy3jrb) {
    padding-block: 24px;
    padding-inline: 16px;
  }
  .input-checkbox--large:where(.astro-3qxy3jrb)
    .input-checkbox__label:where(.astro-3qxy3jrb) {
    padding-block: 24px;
    padding-inline: 32px;
  }
}
.input-checkbox__input:where(.astro-3qxy3jrb):checked
  + .input-checkbox__label:where(.astro-3qxy3jrb) {
  background-color: #f5b800;
}
.filter-when:where(.astro-p4yx7azw) {
  padding-block: 8px;
  padding-inline: 8px;
}
@media (min-width: 768px) {
  .filter-when:where(.astro-p4yx7azw) {
    padding-inline: 0;
  }
}
.card-modern:where(.astro-4iea54kb) .card__cover:where(.astro-4iea54kb) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}
.card-modern--morph:where(.astro-4iea54kb)
  .card__frame:where(.astro-4iea54kb):before,
.card-modern--morph:where(.astro-4iea54kb)
  .card__frame:where(.astro-4iea54kb):after {
  content: unset;
}
@media (max-width: 767px) {
  .card-modern--morph:where(.astro-4iea54kb)
    .card__background:where(.astro-4iea54kb) {
    display: none;
  }
  .card-modern--morph:where(.astro-4iea54kb)
    .card-modern__cover:where(.astro-4iea54kb) {
    aspect-ratio: auto;
    border: 1px solid rgb(32 32 32 / 50%);
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-modern--morph:where(.astro-4iea54kb)
    .card-modern__cover:where(.astro-4iea54kb):hover {
    background-color: #f5b800;
  }
  .card-modern--morph:where(.astro-4iea54kb)
    .card-modern__heading:where(.astro-4iea54kb) {
    font-family:
      GT America Standard,
      system-ui;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #202020;
    letter-spacing: 0.04em;
  }
  [data-theme="dark"]
    .card-modern--morph:where(.astro-4iea54kb)
    .card-modern__heading:where(.astro-4iea54kb) {
    color: var(--yco-surface-accent-color);
  }
  [data-theme="dark"]
    .card-modern--morph:where(.astro-4iea54kb)
    .card__cover:where(.astro-4iea54kb) {
    border-color: #ffffff80;
  }
  [data-theme="dark"]
    .card-modern--morph:where(.astro-4iea54kb)
    .card__cover:where(.astro-4iea54kb):hover {
    background-color: var(--yco-surface-accent-color);
    border-color: var(--yco-surface-accent-color);
  }
  [data-theme="dark"]
    .card-modern--morph:where(.astro-4iea54kb):hover
    .card-modern__heading:where(.astro-4iea54kb) {
    color: #202020;
  }
}
.card-modern__heading:where(.astro-4iea54kb) {
  color: #fff;
}
.filter-year:where(.astro-ufehhmnw) {
  padding-block: 24px;
  padding-inline: 8px;
}
@media (min-width: 768px) {
  .filter-year:where(.astro-ufehhmnw) {
    padding-inline: 0;
  }
}
